*{
  margin: 0px;
  padding: 0px;
}
.inicio-container {
  font-family: sans-serif;
  color: #333;
}

.hero {
  background: url('/public/images/inicio.jpg') no-repeat center center/cover;
  color: white;
  padding: 120px 20px;
  text-align: center;
}

.separador {
  width: 100%;
  height: 15px;
  background: linear-gradient(to right, #0d0e0f, #00c3ff);
  border: none;
  margin: 60px 0;
  border-radius: 2px;
}

.hero-text h1 {
  font-size: 2.8em;
}

h2 {
  font-size: 2.8em;
}
.btn-contacto {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

.section {
  display: flex;
  gap:3vw;
  padding: 60px 20px;
  align-items: center;
  text-align: left;
  justify-content: center;
}

.section img {
  max-width: 500px;
  border-radius: 8px;
}

.section-content img {
  width: 40vw;
  max-width: 1200px;
  border-radius: 8px;
}
.section-content {
  flex: 1;
  max-width: 800px;
  padding-right: 2vw;
  padding-left: 2vw;
  text-align: left;
  align-items: left;
  justify-content: left;
}

.section.alt {
  background-color: #f7f7f7;
}

.normatividad {
  text-align: center;
  padding: 40px 20px;
  background: #000;
  color: white;
}

.iconos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 20px;
  
}

.iconos img {
  height: 80px;
  border-radius: 50px;
}

.parrafo {
  text-align: left;
  line-height: 1.5;
}

p{
  font-size: 1.5rem;
  padding-top: 5px;
}